@import reset
$prime-clr:    #ffc

body
    background: url("../../img/bg.jpg")
    background-size: cover

.todo
    position: relative
    width: 350px
    height: 400px
    margin: 60px auto
    padding: 10px
    border: 5px solid $prime-clr
    border-radius: 30px
    background: #665
    opacity: .5
    transition: .3s
    font-family: "Segoe Script"
    &:hover
            opacity: .9

.todo__today
    padding-top: 20px
    padding-bottom: 7px
    font-size: 34px
    border-bottom: 3px solid $prime-clr
    text-align: center
    color: #fff
    font-weight: lighter

.todo__item-list
    width: 345px
    height: 215px
    margin-top: 10%
    padding-left: 5px
    overflow-y: auto
    overflow-x: hidden
    li
        height: 40px
        position: relative
    .edit
        width: 270px
        height: 25px
        background-color: rgba($prime-clr, 0.5)
        text-indent: 10px
        color: #fff
        font-size: 1.1em

.todo__item--delete img
    position: absolute
    width: 30px
    height: 30px
    margin-left: 40px

.todo__item--done img
    position: absolute
    width: 30px
    height: 30px
    margin-left: 5px

.todo__controlls
    width: 381px
    position: absolute
    left: 3px
    bottom: 1px

.todo__controlls__input
    width: 280px
    height: 37px
    text-indent: 10px
    font-size: 18px
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px
    &:focus
        outline: none

.todo__controlls__butt
    width: 81px
    height: 43px
    margin-left: -7px
    background-color: rgba($prime-clr, 0.5)
    cursor: pointer
    color: #fff
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    font-size: 18px
    &:focus
        outline: none
