body {
    background: linear-gradient(45deg,
        #05f 5%, #55f 20%, #0ef 35%, #0af 40%, #0bf 60%,
        #0de 80%, #0ec 90%) no-repeat;
}

.main {
    width: 900px;
    margin: 100px auto;
    back
}

.menu {
    display: block;
    width: 700px;
    height: 50px;
    margin: 10px auto;
    border: 1px dashed #095;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 5px #f36;
}

/* MENU PLIGIN STARTS */

.sf-menu, .sf-menu * {
	margin: 2px auto;
	list-style: none;
}

.sf-menu {
	line-height: 1.0;
}

.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em;
}

.sf-menu ul li {
	width:			100%;
}

.sf-menu li:hover {
    display: block;
	visibility:	visible;
}

.sf-menu li {
	float:			left;
	position:		relative;
}

.sf-menu a {
	display:		block;
	position:		relative;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    display: block;
    visibility: visible;
	left:			0;
	top:			2.5em;
	z-index:		99;
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    display: block;
    visibility: visible;
	top:			-999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    display: block;
    visibility: visible;
	left:			10em;
	top:			0;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    display: block;
    visibility: visible;
	top:			-999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    display: block;
    visibility: visible;
	left:			10em;
	top:			0;
}

/*** СКИН ДЕМО ***/
.sf-menu {
	float: none;
    margin: auto;
	padding-left: 200px;
}

.sf-menu a {
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	padding: 		.75em 1em;
	text-decoration: none;
}

.sf-menu a, .sf-menu a:visited  {
	color:			#13a;
}

.sf-menu li {
	background:		#BDD2FF;
}

.sf-menu li li {
	background:		#AABDE6;
}

.sf-menu li li li {
	background:		#9AAEDB;
}

.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#CFDEFF;
	outline:		0;
}

/* and it ends... */


.jcarousel {
    width: 750px;
    margin: 220px auto;
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    height: 250px;
    position: relative;
}

.jcarousel li {
    float: left;
}

.jcarousel li img {
    width: 260px;
    height: 250px;
    padding-right: 1px;
    border: 3px solid #609;
}

.jcarousel-prev, .jcarousel-next {
  display: block;
  position: absolute;
  top: 300px;
  width: 60px;
  height: 100px;
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  border-radius: 10px;
  background: linear-gradient(45deg,  #f55,  #11a );
  opacity: 0.5;
  transition: opacity 1s, box-shadow 2s;
}

.jcarousel-prev {
    left: 250px;
}
.jcarousel-prev:hover {
    opacity: 1;
    box-shadow: 2px 2px 15px 5px #fff;
}

.jcarousel-next {
    right: 250px;
}
.jcarousel-next:hover {
    opacity: 1;
    box-shadow: 2px 2px 15px 5px #fff;
}

.selectRace {
    display: block;
    margin-bottom: 50px;
}

#submit {
    display: block;
    width: 300px;
    height: 50px;
    margin: 300px auto;
    background: green;
    border: 0px solid #000;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    font-family: monospace;
    cursor: pointer;
    transition: box-shadow 2s;
}

#submit:hover {
    box-shadow: 1px 1px 15px 10px #c77;
}
