body {
	background: url(../img/back.jpg) no-repeat;
	background-size: cover;
	font-family: Segoe UI;
}

.wrapper {
	width:1000px;
	height: 1010px;
	margin: 0 auto;
	margin-bottom: 0;
	margin-top: 74px;
	box-shadow: 0 0 40px #333;
}

header {
	width: 1000px;
	height: 175px;
	margin: 0 auto;
	margin-top: 38px;
	border-bottom: 1px solid black;
	position: relative;
	background: white;
}

.logo {
	width: 300px;
	height: 165px;
	padding-top: 9px;
	padding-left: 40px;
	position: relative;
}

.logo-name {
	position: absolute;
	left: 105px;
    bottom: 50px;
}

.contact {
	padding-bottom: 10px;
	color: rgb(125,182,210);
	font-size: 1.2em;
}
.contacts {
	position: absolute;
	top: 5px;
	right: 10px;
	color: rgb(147,201,220);
	font-size: 0.8em;
}

.flags {
	width: 410px;
	position: absolute;
	right: 20px;
    bottom: 20px;
}
.flags li {
	display: inline;
	padding-right: 20px;
}
.flags li:last-child {
	padding-right: 0;
}

.cntry-name {
	width: 410px;
	position: absolute;
	right: 15px;
    bottom: 5px;
}
.cntry-name li {
	display: inline;
	padding-right: 20px;
	font-size: 0.7em;
}
a:visited {
	color: rgb(147,201,220);
}

.cntry-name li:nth-child(2) {
	padding-left: 9px;
}
.cntry-name li:nth-child(3) {
	padding-left: 10px;
}
.cntry-name li:nth-child(4) {
	padding-left: 12px;
}
.cntry-name li:nth-child(5) {
	padding-right: 10px;
}


.main-menu {
	width: 1000px;
	height: 30px;
	background: rgb(52,52,52);
	border-top: 2px solid white;
	position: relative;
}

li {
	display: inline-block;
}

.main-menu a {
	display: block;
	padding: 5px 0 0 50px;
	text-decoration: none;
	color: white;
}

ul li:hover ul {
	display: block;
	z-index: 2;
}

ul li ul {
	display: none;
	position: absolute;
	width: 170px;
	left: 150px;
	top: 30px;
	background: rgb(53,53,53);
	border: 1px solid black;
	z-index: 1;
}

.sub-usl {
	position: absolute;
	width: 130px;
	left: 300px;
	top: 30px;
}

.sub-part {
	position: absolute;
	width: 140px;
	left: 430px;
	top: 30px;
}

ul li ul li {
	display: block;
}

ul li ul li .sub-a {
	display: block;
	padding: 5px 0 0 5px;
	line-height: 20px;
	color: white;
	text-decoration: none;
}



.slide {
	width: 1000px;
}


.inform {
	width: 25%;
	height: 545px;
	float: left;
	margin-bottom: 15px;
	padding-top: 20px;
	border-right: 1px solid grey;
	background: rgb(237,238,240);
	text-align: center;

}
.inform h1 {
	font-size: 1.2em;
}

.centre {
	float: left;
	width: 50%;
	height: 565px;
	margin-bottom: 15px;
	background: white;
}

.news {
	float: left;
	width: 24.7%;
	height: 545px;
	margin-bottom: 15px;
	padding-top: 20px;
	background: rgb(237,238,240);
	border-left: 1px solid grey;
	text-align: center;
}
.news h1 {
	font-size: 1.2em;
}

.footer {
	display: block;
	clear: both;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
	color: white;
	font-size: 0.8em;
}