@font-face {
	font-family: Helvetica;
	src: url(../fonts/helveticaneuecyr-light);
	src: url(../fonts/helveticaneuecyr-bold);
	src: url(../fonts/helveticaneuecyr-italic);
	font-style: normal;
	font-weight: normal;
}

.god {
	width: 1215px;
	height: 1064px;
	margin: auto;
	font-family: Helvetica;
}


/* HEAD-MENU */

.header {
	width: 100%;
	height: 50px;
	position: relative;
	background: rgb(7,81,143);
	font-size: 15px;
}

.menu {
	height: 50px;
	margin-right: 20px;
	float: right;
}

.menu li {
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
} 

.menus {
	display: inline-block;
	line-height: 50px;
	padding: 0 10px 0 10px;
	text-decoration: none;
	color: rgb(97,137,220);
}

.menus:hover {
	background: rgb(78,171,218);
	color: white;
}

.line {
	height: 33px;
	position: absolute;
	padding-top: 8px;
}

.flag {
	position: absolute;
	margin-left: -34px;
	margin-top: 13px;
}
.ofertas {
	text-decoration: none;
	padding-left: 55px;
	color: white;
}

.regist {
	width: 200px;
	margin-left: 20px;
	padding: 0 5px 0 5px;
	text-align: center;
	color: white;
	background: linear-gradient(to bottom, 
		rgb(78,171,218) 10%, 
		rgb(60,143,206) 30%,
		rgb(46,122,196) 60%);
}
.regist a {
	color: white;
}


/* MAIN PART - FORM */

.main-page {
	width: 100%;
	height: 1030px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: url(../img/back.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.title {
	width: 560px;
	height: 60px;
    margin-top: -5px; 
	background: rgba(0,0,0,0.6);
}
.title p {
	font-size: 23px;
	text-align: center;
	line-height: 60px;
	color: white;
}

.main-form {
	width: 560px;
	height: 550px;
	margin-top: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(0,0,0,0.6);
}

.facebook {
	width: 277px;
	height: 35px;
	display: inline-flex;
	margin-top: 37px;
	font-size: 16px;
	text-align: center;
	line-height: 35px;
}
.fb-text {
	background: linear-gradient(to bottom, 
		rgb(56,76,170) 20%, 
		rgb(29,56,177) 30%,
		rgb(54,66,140) 50%);
	padding: 0 23px 0 28px;
	border: 0px solid rgb(2,73,179);
    border-radius: 0 5px 5px 0;
	border-left: 1px solid rgb(2,73,179);
}
.fb-text:after {
	content: "\203a";
	font-size: 16px;
	padding-left: 15px;
}
.fb-text a {
	text-decoration: none;
	color: white;
}

.OU {
	width: 277px;
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: grey;
}
.OU p {
	padding: 0 4px 0 4px;
}
.OU hr {
	width: 121px;
	border-bottom: 1px solid #000;
	color: #fff;
}

/* FORM */

.inputs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.input {
	width: 276px;
	height: 35px;
	margin-top: 15px;
	padding-left: 20px;
	border: none;
	border-bottom: 1px solid grey;
	background: linear-gradient(to bottom, 
		rgba(33,33,33,1) 0%, 
		rgba(0,0,0,1) 0%, 
		rgba(18,18,18,1) 3%, 
		rgba(38,38,38,1) 12%, 
		rgba(36,36,36,1) 25%, 
		rgba(31,31,31,1) 39%, 
		rgba(8,8,8,1) 55%, 
		rgba(3,3,3,1) 72%, 
		rgba(13,13,13,1) 91%, 
		rgba(8,8,8,1) 100%);
	color: rgb(190,190,190);
}
.input:first-child {
	margin-top: 33px;
}
.input:hover {
	box-shadow: inset 0 0 50px 10px rgb(27,90,156),
				0 0 20px 10px rgb(27,110,156);
}

#checkthis {
	margin: 20px 0 20px -4px;
	color: rgb(190,190,190);
}

.button {
	width: 150px;
	height: 40px;
	background-color: rgb(70,167,210);
	color: white;
	border: 1px solid rgb(86,161,220);
	border-radius: 5px;
	align-self: center;
	font-size: 0.9em;
}

.foot {
	width: 380px;
	margin-top: 15px;
	color: rgb(190,190,190);
	font-size: 0.8em;
	text-align: center;
}