@font-face {
	font-family: Gothic;
	src: url(../fonts/leaguegothic-regular-webfont.woff),
				url(../fonts/leaguegothic-regular-webfont.woff2);
	font-weight: normal;
	font-style: normal;
}

body {
	background: url(../img/back-top.jpg) no-repeat;
	background-size: auto;
	font-family: Gothic;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.header__main {
	width: 100%;
}

.header {
	margin-top: 50px;
	margin-bottom: 155px;
	font-family: Gothic;
}

.logo {
	width: auto;
	font-size: 48px;
	color: #fff;
	font-family: Gothic;
}

.logo a {
	text-decoration: none;
	color: #fff;
}

.er {
	color: #604069;
}

.menu {
	margin-top: 20px;
}

.menu a {
	margin-right: 40px;
	padding: 0 4px 2px 4px;
	color: #fff;
	font-size: 24px;
	line-height: 24px;
}

.menu a:last-child {
	margin-right: 0;
}

.menu a:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid #604069;
}

.home-menu {
	display: none;
}

.drop__menu {
	display: none;
}


/* SLIDER SECTION */

.slider {
	height: 400px;
	width: 100%;
	margin-bottom: 145px;
	background: rgba(10,10,10,0.3 );
	font-family: Gothic;
}

.slider__texts {
	position: relative;
	height: auto;
	padding-top: 55px;
}

.slider__head {
	padding-bottom: 0;
	margin-bottom: 0;
	width: 50%;
	font-size: 58px;
	color: #fff;
}

.slider__subhead {
	width: 55%;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 32px;
	color: #e5c5ec;
}

.slider__text {
	display: block;
	width: 45%;
	height: auto;
	font-family: segoe ui;
	font-weight: lighter;
	font-size: 1.3em;
	color: #eee;
}

.iphone-back {
	display: block;
	position: absolute;
	z-index: 0;
	top: 15px;
	right: 220px;
	width: 125px;
	height: 254px;
	float: right;
}

.iphone {
	display: block;
	position: absolute;
	z-index: 1;
	top: -37px;
	right: 36px;
	width: 192px;
	height: 415px;
	float: right;
}


/* AFTER SLIDER TEXT BLOCKS */


.text-blocks {
	width: 100%;
	/*height: 340px;*/
	margin-bottom: 7px;
	padding-bottom: 20px;
	border-top: 1px solid #000;
	background: linear-gradient(to bottom,
		#734f82 1%, #644571 30%, #50395b 60%, #3b2b43 85%);
		font-family: Gothic;
		box-shadow: 0px 3px 10px #000;
}

.block__texts {
	height: auto;
	padding-top: 75px;
}

.block__texts--all {
	width: 90%;
	height: 210px;
}

.block__texts--all img {
	padding-right: 10px;
	padding-bottom: 10px;
}

.block__head {
	padding-left: 15px;
	font-size: 26px;
	color: #fff;
}

.block__text {
	width: 100%;
	padding-left: 49px;
	font-family: segoe ui;
	font-weight: lighter;
	font-size: 16px;
	color: #fff;
}

.read-more {
	float: right;
	color: #fff;
}

.read-more:hover {
	text-shadow: 0 0 10px #000;
	text-decoration: none;
}


/* LOW SECTION: DUDE TALKS AND UPDATES */

.low__section {
	width: 100%;
	padding-bottom: 200px;
	background: #eee;
}

.low__section__cont {
	position: relative;
	height: 100%;
}

.dude__talks {
	position: relative;
	font-family: Gothic;
}

.message-pict {
	width: 100%;
	padding-left: 20px;
	margin-top: 100px;
}

.pingbuller {
	display: block;
	width: 90%;
	position: absolute;
	top: 115px;
	left: -5px;
	font-size: 26px;
}

.pingbuller-title {
	padding-left: 10px;
}

.pingbuller-title:after {
	content: "STARTS HERE";
	color: #b090b9;
}

.low__text {
	display: block;
	width: 80%;
	height: 37%;
	overflow: hidden;
	position: absolute;
	top: 165px;
	left: 55px;
	font-family: segoe ui;
	font-weight: lighter;
	font-size: 16px;
}

.crap__talks {
	display: block;
	margin-left: 45px;
	margin-top: 120px;
	font-family: Gothic;
}

.crap__head {
	font-size: 24px;
	margin-bottom: 20px;
}

.crap__title {
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 16px;
	font-family: segoe ui;
	font-weight: bold;
}

.crap__posted {
	padding-left: 65px;
	font-size: 14px;
	font-family: segoe ui;
	font-weight: lighter;
}

.crap__more {
	float: right;
	padding-top: 15px;
	padding-right: 45px;
	font-size: 20px;
	color: #000;
}


/* PRE-FOOTER SECTION */

.pre-footer {
	width: 100%;
	background: #ddd;
	border-top: 1px solid #bbb;
	box-shadow: 1px 3px 15px #333;
}

.pre-footer__texts {
	height: 100%;
	padding-top: 70px;
	padding-left: 15px;
	padding-bottom: 50px;
	margin: 0 auto;
}

.pigbuller {
	font-size: 44px;
	font-family: Gothic;
}

.pigbuller:after {
	content: "ER";
	color: #aaa;
}

.pig-text {
	width: 90%;
}

.copyright {
	display: block;
	padding-bottom: 5px;
	font-family: segoe ui;
}

.pig-text__title {
	font-size: 28px;
	font-family: Gothic;
}

.pre-footer__pig__text {
	width: 90%;
	font-size: 15px;
	font-weight: lighter;
	font-family: segoe ui;
}



/* FOOTER */

.footy {
	width: 100%;
	height: 115px;
	margin-top: 3px;
	background: linear-gradient(to bottom,
		#734f82 1%, #644571 30%, #50395b 60%, #3b2b43 85%);
		font-family: Gothic;
}

.menu--footer {
	padding-top: 30px;
	padding-left: 0;
}

.menu--footer a {
	padding: 10px 10px 4px 10px;
	margin-right: 30px;
	color: #fff;
	font-size: 22px;
}

.menu--footer a:hover {
	text-decoration: none;
	color: #fff;
	border-bottom: 2px solid #fff;;
}

.design {
	margin-top: 20px;
	margin-right: 100px;
	color: #fff;
	float: right;
	font-size: 12px;
	font-family: opensans;
}


/* MEDIA QUERIES */

@media (max-width: 767px) {
	.home-menu {
		display: block !important;
		position: relative;
		width: 80px;
		margin: 0 auto;
		margin-top: 73px;
		padding: 1px 5px 1px 5px;
		border-bottom:  4px solid #f5c5fc;
		color: #fff;
		font-size: 28px;
		text-decoration: none;
		text-align: center;
	}

	.home-menu:hover {
		text-decoration: none;
		color: #fff;
	}

	.home-menu:focus ~ .drop__menu,
	.home-menu:active ~ .drop__menu,
	.drop__menu:hover {
		display: block;
		width: 240px;
		margin: 0 auto;
		position: absolute;
		z-index: 4;
		top: 120px;
		left: 27%;
		padding-bottom: 5px;
		border: 1px solid black;
		border-radius: 5px;
		background: rgba(90,69,93,0.8);
		text-align: center;
	}

	.drop__menu a {
		font-size: 28px;
		color: #fff;
		text-decoration: none;
		text-align: center;
	}

	.drop__menu li {
		border-bottom: 1px solid rgba(150,150,150,0.7);
	}

	.drop__menu li:hover {
		border-bottom: 3px solid #f5c5fc;
		background: rgba(70,49,73,0.9);
	}
}

@media (max-width: 630px) {
	.design {
		margin-top: 0;
	}
}
